.slides,
.slides p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.slides h1,
.slides h2,
.slides h3,
.slides h4,
.slides h5,
.slides h6 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
}
.about-us-img{
    width:50%;
}

.promo-item {
    display:flex;
    margin-bottom: 30px;

}
img.promo-item__img  {
    max-width: 80px ;
    max-height: 80px;
    margin: 0 20px;
}

h4.promo-item__header {
    font-size: 17px;
}

p.promo-item-description {
    font-size: 15px;
}

.promo-item__content {
    text-align: left;
}

.cooperation-img {
    width:80%;
}

.flip-card {
    background-color: transparent;
    min-height: 700px;
    width: 100%;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

.flip-card ul {
    text-align: left;
    padding: 10px;
}

.flip-card ul li {
    margin-bottom: 5px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front-white,
.flip-card-front-black,
.flip-card-back-black,
.flip-card-back-white {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

/* Style the back side */
.flip-card-back-black {
    transform: rotateY(180deg);
    font-size: 10px;
}

.flip-card-back-white {
    transform: rotateY(180deg);
    font-size: 10px;
}

.popup .close {
    opacity: 1;
    top: 60px !important;
    right: 40px !important;
}

@media screen and (max-width: 756px) {
    .map{
        width:300px !important;
        height: 300px !important;
    }

}

.panel.black {
    background-color: rgb(80 80 80 / 80%)!important;
}
